body {
    margin:0;
}

main {
    margin: 100px;
}

header {
    background-image: url(./img/pattern.png);
    background-color: cornflowerblue;
}

#header-image {
    max-width: 50%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: left;
}
section{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: left;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: left;
}

th {
    font-size: 22px;
    color: antiquewhite;
    text-align: left;
    background-color:deepskyblue;
    white-space: nowrap;
}

#first_row {
    background-color: aqua;
}

#third_row {
    background-color:aqua
}

#section_2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: left;
}

#monitor {
    background-image: url(./img/monitor.jpg);
    background-repeat:no-repeat;
    width: 312px;
    height: 208px;
    color: white;
    font-size: 28px;
}

#graph {
    background-image: url(./img/graph.jpg);
    background-repeat:no-repeat;
    width: 312px;
    height: 208px;
    color: white;
    font-size: 28px;
}